<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2> welcome to this  Api websites </h2>
        <h3> here performing all crud operations </h3>
        <p1> main folder directory  inside url.txt  file open it and go with each url and perform all operations </p1>
        <h2>Thank you </h2>
        <span style="text-align: center;color: red;"> Regards <br> Himanshu singh </span>

        
</body>
</html>